@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>user input testing</h1>

<EditForm Model="@this" OnValidSubmit="@HandleSubmit">
    <label for="search">Enter ID of item</label>
    <InputText id="search" @bind-Value="search" />
    <button type="submit">Search</button>
</EditForm>

@code {
    private string search = ""; // Initially empty

    private async Task HandleSubmit()
    {
        Console.WriteLine("Search parameter: " + search);
    }

}