@page "/favoritter"
@inject IJSRuntime JSRuntime
@using foodApp.Models
@inject FavoriteProducts _favoriteProducts

<h3>Favorite Products</h3>

@code {
    private List<ProductData> favoriteProducts;
    protected override async Task OnInitializedAsync()
    {
        favoriteProducts = await _favoriteProducts.GetFavoriteProductsAsync();
        StateHasChanged();

    }

}
