@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer
@using Microsoft.Extensions.Options
@using foodApp.Models
@using foodApp.Components
@using foodApp.Components.HomeComponents
@inject LogService LogService
@inject IOptions<ApiSettings> ApiSettings
@inject ProductHistoryService ProductHistoryService


<PageTitle>SearchProducts</PageTitle>

<div class="container mt-5">
    <div class=" ">
        <h1>Søk etter produkter</h1>
        <div class="col-md-6 ">
            <EditForm class="input-group" FormName="formname" Model="@this" OnValidSubmit="@HandleSubmit">
                <InputText class="form-control" placeholder="Produkt" id="search" @bind-Value="search" />
                <button class="btn btn-outline-secondary" type="submit">Søk</button>
            </EditForm>
        </div>
        @if (!error && res != null && res.Data.Count > 0)
        {
            <div class="row g-3 mt-3 ">
                <div class="d-flex align-items-center gap-3 ">
                    <Dropdown>
                        <DropdownToggleButton Color="ButtonColor.Primary">Sort by</DropdownToggleButton>
                        <DropdownMenu>
                            <DropdownItem @onclick='() => SetSorting("&sort=price_asc")'>Pris: Laveste Først</DropdownItem>
                            <DropdownItem @onclick='()=> SetSorting("&sort=price_desc")'>Pris: Høyeste Først</DropdownItem>
                        </DropdownMenu>
                    </Dropdown>
                    <div>
                        <Switch @bind-Value="agree" @onclick="SetUnique" Label="Vis kun en butikk per produkt" />
                    </div>
                </div>
                @foreach (var item in res.Data)
                {
                    <div class="border-0 card col-md-6 col-lg-4 text-black text-decoration-none"
                        @onclick="()=> AddToHistory(item)">
                        <ProductCard Product="@item" />
                    </div>
                }

                <CustomPagination pageNumber="pageNumber" PrevPage="PrevPage" NextPage="NextPage" />
            </div>
        }
        else if (error)
        {
            <p>Error: @errorMessage</p>
        }
        else
        {
            <LastViewedProducts Products="lastViewedProducts" OnProductClick="AddToHistory" />
        }
    </div>

</div>



@code {
    bool agree = false;
    private ApiResponse? res;
    private bool isLoading = false;
    private bool error = false;
    private string? errorMessage;
    private string? bearerToken;
    string search = "";
    private int pageNumber = 1;
    private string baseUrl = "https://kassal.app/api/v1/products/";
    private string sortParam = "";
    private List<PrevViewedModel> lastViewedProducts = new List<PrevViewedModel>();
    protected override async Task OnInitializedAsync()
    {

        bearerToken = ApiSettings.Value.ApiKey;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            lastViewedProducts = await ProductHistoryService.GetLastViewedProductsAsync();
            StateHasChanged();
        }
    }

    private async Task HandleSubmit()
    {
        isLoading = true;
        error = false;
        errorMessage = "";
        await FetchData();
        isLoading = false;
    }

    private async Task AddToHistory(ProductData item)
    {
        await ProductHistoryService.AddProductAsync(new PrevViewedModel
            {
                Id = item.Id,
                Name = item.Name,
                ImageUrl = item.Image ?? string.Empty,
            });
        lastViewedProducts = await ProductHistoryService.GetLastViewedProductsAsync();
        StateHasChanged();
    }


    private async Task SetUnique()
    {
        if (agree)
        {
            sortParam = "&unique=0";
        }
        else
        {
            sortParam = "&unique=1";
        }
        await FetchData();
    }


    private async Task removeSorting()
    {
        sortParam = "";
        await FetchData();
    }


    private async Task SetSorting(string x)
    {
        sortParam = x;
        await FetchData();
    }


    private async Task NextPage()
    {
        pageNumber++;
        await FetchData();
    }
    private async Task PrevPage()
    {
        if (pageNumber > 1)
        {
            pageNumber--;
            await FetchData();
        }
        else
        {
            pageNumber = 1;

        }

    }
    public async Task FetchData()
    {
        if (string.IsNullOrWhiteSpace(search))
        {
            error = true;
            errorMessage = "Søkefeltet kan ikke være tomt";
            isLoading = false;
            return;
        }

        var queryParams = $"page={pageNumber}&search={search}&size=12&price_min=0&price_max=1000000{sortParam}";
        var requestUrl = $"{baseUrl}?{queryParams}";
        var request = new HttpRequestMessage(HttpMethod.Get, requestUrl);
        request.Headers.Add("Accept", "application/json");
        request.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", bearerToken);

        var client = ClientFactory.CreateClient();
        var response = await client.SendAsync(request);
        @* LogService.LogResponse(response); *@

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            res = await JsonSerializer.DeserializeAsync<ApiResponse>(responseStream, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });
        }
        else
        {
            error = true;
            errorMessage = $"Error: {response.StatusCode}";
        }
    }


    public class ApiResponse
    {
        public List<ProductData> Data { get; set; } = new List<ProductData>();
    }

}
